language: node_js
cache:
  directories:
    - ~/.npm
node_js: lts/*

# Trigger a push build on master and greenkeeper branches + PRs build on every branches
# Avoid double build on PRs (See https://github.com/travis-ci/travis-ci/issues/1147)
branches:
  only:
    - master
    - /^greenkeeper.*$/

stages:
  - test
  - name: release
    if: branch = master AND type IN (push)
  - name: cron
    if: type IN (cron)

jobs:
  include:
    - stage: test
      script: travis_retry npm test
    - stage: release
      node_js: lts/*
      script: npm run semantic-release
    - stage: cron
      node_js: lts/*
      script: travis_retry node bin/update-readme.js
